{% load static %}

<header class="section-header" style="background-color: #c09578;">
    <nav class="navbar p-md-0 navbar-expand-sm navbar-light border-bottom bg-secondary">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTop4" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
 
    </div> <!-- container //  -->
    </nav>
    
    <section class="header-main border-bottom">
        <div class="container">
    <div class="row align-items-center">
        <div class="col-lg-2 col-md-3 col-6">
            <a href="{% url 'home' %}" class="brand-wrap">
                <img class="logo" width="100px" src="{% static './images/logo.png.png' %}">
            </a> <!-- brand-wrap.// -->
        </div>
        <div class="col-lg col-sm col-md col-6 flex-grow-0">
            <div class="category-wrap dropdown d-inline-block float-right">
                <button type="button" class=" btn dropdown-toggle" style="background-color: #e77f67; color: #fff;" data-toggle="dropdown"> 
                    <i class="fa fa-bars text-white"></i> All category 
                </button>
                <div class="dropdown-menu text-white">
                    {% for category in category_links  %}
                    <a class="dropdown-item" href="{{ category.get_slug }}">{{ category.category_name }} </a>
                    {% endfor %}
                </div>
            </div>  <!-- category-wrap.// -->
        </div> <!-- col.// -->
        <a href="{% url 'products' %}" class="btn btn-outline-light">Products</a>
        <div class="col-lg  col-md-6 col-sm-12 col">
            <form action="{% url 'search' %}" method="GET" class="search">
                <div class="input-group w-100">
                    <input type="text" name="keyword" class="form-control" style="width:60%;" placeholder="Search">
                    
                    <div class="input-group-append">
                      <button class="btn" style="background-color: #e77f67;" type="submit">
                        <i class="fa fa-search text-white"></i>
                      </button>
                    </div>
                </div>
            </form> <!-- search-wrap .end// -->
        </div> <!-- col.// -->
        <div class="col-lg-3 col-sm-6 col-8 order-2 order-lg-3">
                    <div class="d-flex justify-content-end mb-3 mb-lg-0">
                        {% if user.id is None %}
                        <div class="widget-header">
                            <small class="title text-muted">Welcome guest!</small>
                            <div> 
                                <a href="{% url 'login' %}">Login</a> <span class="light-transp"> | </span>
                                <a href="{% url 'register' %}"> Register</a>
                            </div>
                        </div>

                        {% else %}

                        <div class="widget-header">
                            <small class="title text-white">Welcome {{ user.first_name }}</small>
                            <div> 
                                <a style="color: #fff;" href="{% url 'dashboard' %}">Dashboard</a> <span class="white-transp"> | </span>
                                <a style="color: #fff;" href="{% url 'logout' %}"> Logout</a>
                            </div>
                        </div>

                        {% endif %}
                        <a href="{% url 'cart' %}" class="widget-header pl-3 ml-3">
                            <div class="icon icon-sm rounded-circle border"><i class="fa fa-shopping-cart text-white"></i></div>
                            <span class="badge badge-pill badge-danger notify">{{ cart_count }}</span>
                        </a>
                    </div> <!-- widgets-wrap.// -->
                </div> <!-- col.// -->
    </div> <!-- row.// -->
        </div> <!-- container.// -->
    </section> <!-- header-main .// -->
    
    
    
    
    </header> <!-- section-header.// -->